body {
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.section {
    border: 5px solid black;
    padding: 20px;
    background-color: orange;
}
